@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.nav-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,  1fr));
    justify-content: center;
    gap: 20px;
    padding: 20px;
    padding-bottom: 50px;
    max-width: 80vw;
    margin: 0 auto;
}

.nav-card {
    background-color: #020a12;
    width: 250px;
    height: 300px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    box-sizing: border-box;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;

    margin: 0 auto;

    box-shadow: 0 0 10px 2px rgba(166, 234, 255, 0.3);
    will-change: box-shadow;

    transition: all 0.15s ease;
}

.nav-card:hover {
    box-shadow: 0 0 10px 2px rgba(166, 234, 255, 0.6);
}

.nav-card .nav-icon {
    width: 80px;
    height: 80px;
}

.nav-card h2 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #f3f3f3;

    margin-bottom: 10px;

    text-align: center;
}

.nav-card p {
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #f3f3f3;

    margin: 0;

    text-align: center;
}