@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

.races {
    display: flex;
    justify-content: center;
    width: 100%;
}

.races-container {
    display: flex;
    gap: 20px;
    max-width: 98vw;
    width: 100%;
    padding: 0 20px;
}

.races h2 {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #f3f3f3;

    text-align: center;
}

.race-details {
    flex: 1;

    background-color: #020a12;
    border-radius: 10px;
    margin-left: 0px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    min-width: 0;
}

@media (max-width: 768px) {
    .races-container {
        flex-direction: column;
    }
    
    .list-container {
        flex: 1;
    }
}